/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */
a {
	text-decoration: none;
}
.txt-rt {
	text-align: right;
}/* text align right */
.txt-lt {
	text-align: left;
}/* text align left */
.txt-center {
	text-align: center;
}/* text align center */
.float-rt {
	float: right;
}/* float right */
.float-lt {
	float: left;
}/* float left */
.clear {
	clear: both;
}/* clear float */
.pos-relative {
	position: relative;
}/* Position Relative */
.pos-absolute {
	position: absolute;
}/* Position Absolute */
.vertical-base {
	vertical-align: baseline;
}/* vertical align baseline */
.vertical-top {
	vertical-align: top;
}/* vertical align top */
nav.vertical ul li {
	display: block;
}/* vertical menu */
nav.horizontal ul li {
	display: inline-block;
}/* horizontal menu */
img {
	max-width: 100%;
}
/*end reset*/
/****-----start-body----****/
body {
	background: url(../images/banner.jpg) no-repeat;
	background-size:cover;
	font-family: 'Lora', serif;
}
body a, form li, .button input[type="button"] {
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.pstyle{
	display:inline;
	color:#666;
	white-space:nowrap;
}
.agreement{
	color:#000;
	white-space:nowrap;
}
.agreement a{
	color:#009;
}
.agreement a:hover{
	color:#0F3;
}
body h1 {
	color: #fff;
	text-align: center;
	padding-top: 2em;
	font-size: 2.9em;
	font-family: 'Raleway', sans-serif;
}
.login-01 {
	width: 38%;
	margin: 5% auto 3%;
}
form {
	padding: 0% 1%;
}
form li.first, li.second {
	border: none;
	list-style: none;
	margin-bottom: 10px;
	width: 100%;
	white-space:nowrap;
}
.icon1, .icon2 {
	height: 55px;
	width: 55px;
	display: block;
	float: left;
	border-top-left-radius: 0.3em;
	-o-border-top-left-radius: 0.3em;
	-moz-border-top-left-radius: 0.3em;
	-webkit-border-top-left-radius: 0.3em;
	border-border-bottom-left-radius: 0.3em;
	-o-border-bottom-left-radius: 0.3em;
	-moz-border-bottom-left-radius: 0.3em;
	-webkit-border-bottom-left-radius: 0.3em;
}
.user {
	background: url(../images/icons.png) no-repeat 14px 15px rgba(78, 197, 241, 0.81);
}
.email {
	background: url(../images/icons.png) no-repeat 15px -39px rgba(78, 197, 241, 0.81);
}
.phone {
	background: url(../images/icons.png) no-repeat 15px -93px rgba(78, 197, 241, 0.81);
}
.password {
	background: url(../images/password.png) no-repeat 16px 16px rgba(78, 197, 241, 0.81);
}
.nickName {
	background: url(../images/nickName.png) no-repeat 16px 16px rgba(78, 197, 241, 0.81);
}
.coder {
	background: url(../images/coder.png) no-repeat 16px 16px rgba(78, 197, 241, 0.81);
}
.msg {
	background: url(../images/msg.png) no-repeat 16px 16px rgba(78, 197, 241, 0.81);
}
li.first:hover .user {
	background: url(../images/icons.png) no-repeat 14px 15px #F45B4B;
}
li.first:hover .email {
	background: url(../images/icons.png) no-repeat 15px -39px #F45B4B;
}
li.first:hover .phone {
	background: url(../images/icons.png) no-repeat 15px -93px #F45B4B;
}
li.first:hover .password {
	background: url(../images/password.png) no-repeat 16px 16px #F45B4B;
}
li.first:hover .nickName {
	background: url(../images/nickName.png) no-repeat 16px 16px #F45B4B;
}
li.first:hover .coder {
	background: url(../images/coder.png) no-repeat 16px 16px #F45B4B;
}
li.second:hover .msg {
	background: url(../images/msg.png) no-repeat 16px 16px #F45B4B;
}
/*-----*/
input[type="tel"] {
	width: 37%;
	padding: 1.13em 1em 1.13em 1em;
	color: #858282;
	font-size: 16px;
	outline: none;
	background: #fff;
	font-weight: 500;
	border: none;
	font-family: 'Lora', serif;
	border-top-right-radius: 0.3em;
	-o-border-top-right-radius: 0.3em;
	-moz-border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	border-border-bottom-right-radius: 0.3em;
	-o-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
}
input[type="text"], form textarea {
	width: 37%;
	padding: 1.13em 1em 1.13em 1em;
	color: #858282;
	font-size: 16px;
	outline: none;
	background: #fff;
	font-weight: 500;
	border: none;
	font-family: 'Lora', serif;
	border-top-right-radius: 0.3em;
	-o-border-top-right-radius: 0.3em;
	-moz-border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	border-border-bottom-right-radius: 0.3em;
	-o-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
}
input[type="password"] {
	width: 37%;
	padding: 1.13em 1em 1.13em 1em;
	color: #858282;
	font-size: 16px;
	outline: none;
	background: #fff;
	font-weight: 500;
	border: none;
	font-family: 'Lora', serif;
	border-top-right-radius: 0.3em;
	-o-border-top-right-radius: 0.3em;
	-moz-border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	border-border-bottom-right-radius: 0.3em;
	-o-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
}
form textarea {
	resize: none;
	height: 140px;
}
.create {
	font-size: 14px;
	font-weight: 700;
	color: white;
	cursor: pointer;
	background:rgba(78, 197, 241, 0.81);
	border: 0;
	height: 35px;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
.create:hover{
	background-color:#F45B4B;
}
.button {
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 10px 10px;
	width: 49%;
	border:none;
	background: rgba(78,197,241,0.81);
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	margin-right: 2.85em;
}
.button:hover {
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}
.footer {
}
li.lost {
	margin-bottom: 21px;
}
/*---------------*/
.copy-right {
	text-align: center;
	margin: 2em 0;
}
.copy-right p {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
}
.copy-right p a {
	color: #fff;
}
.copy-right p a:hover {
	text-decoration: underline;
}
/*-----start-responsive-design------*/
@media (max-width:1440px) {
.button {
	margin-right: 1.85em;
}
}
@media (max-width:1366px) {
.button {
	margin-right: 1.6em;
}
}
@media (max-width:1280px) {
.login-01 {
	width: 50%;
	margin: 5% auto 5%;
}
body h1 {
	font-size: 2.7em;
}
}
@media (max-width:1024px) {
.login-01 {
	width: 55%;
}
body h1 {
	font-size: 2.5em;
}
}
@media (max-width:768px) {
.login-01 {
	width: 73%;
}
body h1 {
	font-size: 2.3em;
}
}
@media (max-width:640px) {
.login-01 {
	width: 83%;
}
body h1 {
	font-size: 2.1em;
}
}
@media (max-width:480px) {
.login-01 {
	width: 95%;
}
.copy-right p {
	font-size: 0.9em;
}
input[type="text"], input[type="password"], input[type="tel"], form textarea {
	width: 77%;
	padding: 1em 1em 1em 1em;
	font-size: 15px;
}
.icon1, .icon2 {
	height: 48px;
	width: 48px;
}
.user {
	background: url(../images/icons.png) no-repeat 11px 12px rgba(78, 197, 241, 0.81);
	background-size: 45%;
}
.email {
	background: url(../images/icons.png) no-repeat 12px -36px rgba(78, 197, 241, 0.81);
	background-size: 45%;
}
.phone {
	background: url(../images/icons.png) no-repeat 12px -87px rgba(78, 197, 241, 0.81);
	background-size: 45%;
}
.msg {
	background: url(../images/msg.png) no-repeat 14px 11px rgba(78, 197, 241, 0.81);
	background-size: 45%;
}
li.first:hover .user {
	background: url(../images/icons.png) no-repeat 11px 9px #F45B4B;
	background-size: 45%;
}
li.first:hover .email {
	background: url(../images/icons.png) no-repeat 12px -36px #F45B4B;
	background-size: 45%;
}
li.first:hover .phone {
	background: url(../images/icons.png) no-repeat 12px -87px #F45B4B;
	background-size: 45%;
}
li.second:hover .msg {
	background: url(../images/msg.png) no-repeat 14px 11px #F45B4B;
	background-size: 45%;
}
body h1 {
	font-size: 2em;
	padding-top: 1em;
}
form li.first, li.second {
	margin-bottom: 5px;
}
}
@media (max-width:320px) {
input[type="text"], input[type="password"], input[type="tel"], form textarea {
	width: 71%;
	padding: 1em 1em 1em 0.8em;
	font-size: 14px;
}
.login-01 {
	width: 100%;
}
.icon1, .icon2 {
	height: 45px;
	width: 45px;
}
.user {
	background: url(../images/icons.png) no-repeat 11px 13px rgba(78, 197, 241, 0.81);
	background-size: 40%;
}
.email {
	background: url(../images/icons.png) no-repeat 12px -29px rgba(78, 197, 241, 0.81);
	background-size: 40%;
}
.phone {
	background: url(../images/icons.png) no-repeat 12px -72px rgba(78, 197, 241, 0.81);
	background-size: 40%;
}
.msg {
	background: url(../images/msg.png) no-repeat 14px 13px rgba(78, 197, 241, 0.81);
	background-size: 40%;
}
li.first:hover .user {
	background: url(../images/icons.png) no-repeat 11px 13px #F45B4B;
	background-size: 40%;
}
li.first:hover .email {
	background: url(../images/icons.png) no-repeat 12px -29px #F45B4B;
	background-size: 40%;
}
li.first:hover .phone {
	background: url(../images/icons.png) no-repeat 12px -72px #F45B4B;
	background-size: 40%;
}
li.second:hover .msg {
	background: url(../images/msg.png) no-repeat 14px 13px #F45B4B;
	background-size: 40%;
}
.copy-right p {
	line-height: 1.6em;
}
.button {
	font-size: 17px;
	padding: 8px 8px;
	width: 98%;
	margin-right: 0.7em;
}
body h1 {
	font-size: 1.6em;
}
}
